# CSV cleaning

## Imports

In [1]:
import pandas as pd
import numpy as np

## Read data

In [2]:
tweets_df = pd.read_csv('french_masks_with_accounts.csv')
rtt_df = pd.read_csv('retweets_masks.csv')

In [3]:
tweets_df.columns

Index([''id'', ''author_id'', ''author_username'', ''authors'', ''title'',
       ''body'', ''country'', ''doc_type'', ''language'', ''publishing_date'',
       ''main_document_id'', ''coordinates'', ''place'', ''user_country'',
       ''retweet_count'', ''subject_classes'', ''natural_key'', ''url'',
       ''document_urls'', ''base_popularity'', ''popularity'', ''sentiment'',
       ''id'.1', ''description'', ''followers_count'', ''screen_name'',
       ''global_tweet_count'', ''name'', ''favourites_count'',
       ''friends_count'', ''language'.1', ''location'', ''extracted_country'',
       ''time_zone'', ''created_at'', ''listed_count'',
       ''project_tweet_count''],
      dtype='object')

In [18]:
D = [x.split(' ')[0] for x in np.unique(tweets_df["'publishing_date'"])]
np.unique([x.split('-')[1] for x in D])

array(['11'], dtype='<U2')

In [21]:
np.unique([x.split('-')[2] for x in D])

array(['10', '11'], dtype='<U2')

In [53]:
len(tweets_df[tweets_df["'retweet_count'"] > 1])

832

In [44]:
rtt_df = rtt_df.rename(index = {0 : 'id', 1 : 'original_tweet_id', 2 : 'author_id', 3 : 'retweet_date', 4 : 'a', 5 : 'b', 6 : 'c', 7 : 'd'})
rtt_df.head()

,[('id',),('original_tweet_id',).1,('author_id',).2,('retweeted_date',)]
id,1326480087127089152,1326479804108042241,278494947,2020-11-11 11:01:12,NaN,NaN,NaN,NaN
original_tweet_id,1326480641807028225,1326479804108042241,482896065,2020-11-11 11:03:24,NaN,NaN,NaN,NaN
author_id,1326480753375457280,1326479804108042241,45188193,2020-11-11 11:03:51,NaN,NaN,NaN,NaN
retweet_date,1326481411956674566,1326479804108042241,17593012,2020-11-11 11:06:28,NaN,NaN,NaN,NaN
a,1326482199051440129,1326479804108042241,80557178,2020-11-11 11:09:35,NaN,NaN,NaN,NaN

## Data insight

### Tweets csv

In [5]:
tweets_df.columns

Index([''id'', ' 'author_id'', ' 'author_username'', ' 'authors'', ' 'title'',
       ' 'body'', ' 'country'', ' 'doc_type'', ' 'language'',
       ' 'publishing_date'', ' 'main_document_id'', ' 'coordinates'',
       ' 'place'', ' 'user_country'', ' 'retweet_count'', ' 'subject_classes'',
       ' 'natural_key'', ' 'url'', ' 'document_urls'', ' 'base_popularity'',
       ' 'popularity'', ' 'sentiment'', ''id'.1', ' 'description'',
       ' 'followers_count'', ' 'screen_name'', ' 'global_tweet_count'',
       ' 'name'', ' 'favourites_count'', ' 'friends_count'', ' 'language'.1',
       ' 'location'', ' 'extracted_country'', ' 'time_zone'', ' 'created_at'',
       ' 'listed_count'', ' 'project_tweet_count''],
      dtype='object')

In [6]:
# author_id has nothing
print(np.unique(tweets_df[" 'author_username'"]))
# authors as nothing
print(np.unique(tweets_df[" 'authors'"]))
# title as nothing
print(np.unique(tweets_df[" 'title'"]))
# doctype is all twitter
print(np.unique(tweets_df[" 'doc_type'"]))
# language is all fr
print(np.unique(tweets_df[" 'language'"]))
# main_document_id has none
print(np.unique(tweets_df[" 'main_document_id'"]))
# subject_classes has none
print(np.unique(tweets_df[" 'subject_classes'"]))
# language.1 has none
print(np.unique(tweets_df[" 'language'.1"]))
# time_zone has none
print(np.unique(tweets_df[" 'time_zone'"]))

to_remove = [
    " 'author_username'",
    " 'authors'",
    " 'title'",
    " 'doc_type'",
    " 'language'",
    " 'main_document_id'",
    " 'subject_classes'",
    " 'language'.1",
    " 'time_zone'"
]

tweets_df = tweets_df.drop(columns = to_remove)

['None']
['None']
['None']
['twitter']
['fr']
['None']
['None']
['None']
['None']

In [6]:
filtered_headers = [header.replace("'",'').replace(' ','') for header in tweets_df.columns]
d = {}
for i in range(len(tweets_df.columns)):
    d[tweets_df.columns[i]] = filtered_headers[i]
    
tweets_df = tweets_df.rename(columns = d)

In [45]:
tweets_df.head()

,'id','author_id','author_username','authors','title','body','country','doc_type','language','publishing_date',...,'name','favourites_count','friends_count','language'.1,'location','extracted_country','time_zone','created_at','listed_count','project_tweet_count'
0,ab1900e2-2429-11eb-9b3e-02420a000016,1271845373049528328,None,None,None,@godessjihyoo Je masque tt vaut mieux être safe 💀,None,twitter,fr,2020-11-11 13:21:14,...,𝑩𝒓𝒆𝒂𝒕𝒉 𝒐𝒇 𝒍𝒐𝒗𝒆 : 𝑳𝒂𝒔𝒕 𝑷𝒊𝒆𝒄𝒆💙,29716,447,None,𝒲𝒾𝓉𝒽 𝒮ℯ𝒾𝒿𝒾,None,None,2020-06-13 16:42:32,4,1
1,5b92147c-242a-11eb-9b3e-02420a000016,1236464522,None,None,None,@W_Alhusseini C’est l’excuse des masques,None,twitter,fr,2020-11-11 06:46:00,...,$ch'T' M@ry&l'Hain€,71159,2844,None,france,FR,None,2013-03-02 21:12:35,31,1
2,c56ec88c-2429-11eb-9b3e-02420a000016,788460678143172609,None,None,None,En sah les filles qui arrive à faire tenir son...,None,twitter,fr,2020-11-11 12:27:47,...,morveillee,13835,689,None,dans tes rêves,AU,None,2016-10-18 19:24:09,0,1
3,1e2e227e-242a-11eb-9b3e-02420a000016,1317459202823118849,None,None,None,MOI QUAND JE RENCONTRE L’OUBLIE DE MON MASQUE ...,None,twitter,fr,2020-11-11 09:32:26,...,LÉLÉLÉ,3,14,None,NaN,None,None,2020-10-17 13:35:54,0,1
4,5939afe6-242a-11eb-9b3e-02420a000016,1217094231031980034,None,None,None,"@moon_bio 2/2 Par contre, épidémie d’infectio...",None,twitter,fr,2020-11-11 07:02:06,...,Pinsolle Typhaine,33545,160,None,"Paris, France",None,None,2020-01-14 14:41:30,7,1

### Retweet csv

In [8]:
rtt_df.head()

,'id','original_tweet_id','author_id',retweeted_date',Unnamed: 4
0,1312881822297018368,1312880858869583873,451270384,2020-10-04 22:26:33,NaN
1,1313859160769953792,1313856784210235400,724529113084637184,2020-10-07 15:10:08,NaN
2,1313910967168835587,1313856784210235400,700386863333433349,2020-10-07 18:36:00,NaN
3,1314585420810911746,1314542958335721473,191170947,2020-10-09 15:16:02,NaN
4,1312758994046509056,1312738895558258688,972925879398608900,2020-10-04 14:18:28,NaN

In [9]:
rtt_df = rtt_df.drop(columns = 'Unnamed: 4')

In [10]:
rtt_df.columns

Index([''id'', ' 'original_tweet_id'', ' 'author_id'', ' retweeted_date''], dtype='object')

In [11]:
filtered_headers = [header.replace("'",'').replace(' ','') for header in rtt_df.columns]
d3 = {}
for i in range(len(rtt_df.columns)):
    d3[rtt_df.columns[i]] = filtered_headers[i]
    
rtt_df = rtt_df.rename(columns = d3)

In [12]:
rtt_df.head()

,id,original_tweet_id,author_id,retweeted_date
0,1312881822297018368,1312880858869583873,451270384,2020-10-04 22:26:33
1,1313859160769953792,1313856784210235400,724529113084637184,2020-10-07 15:10:08
2,1313910967168835587,1313856784210235400,700386863333433349,2020-10-07 18:36:00
3,1314585420810911746,1314542958335721473,191170947,2020-10-09 15:16:02
4,1312758994046509056,1312738895558258688,972925879398608900,2020-10-04 14:18:28

### Joining tweets and retweets

In [14]:
original_tweets_id = []
author_ids = []
retweet_dates = []

groups = rtt_df.groupby("original_tweet_id").groups
for k in groups.keys():
    l_a = []
    l_r = []
    original_tweets_id.append(k)
    for index in groups[k]:
        line = rtt_df.iloc[[index]]
        l_a.append(int(line["author_id"]))
        l_r.append(str(line["retweeted_date"]))
    author_ids.append(l_a)
    retweet_dates.append(l_r)

In [15]:
df_temp = pd.DataFrame()
df_temp['natural_key'] = original_tweets_id
df_temp['rtt_author_ids'] = author_ids
df_temp['retweet_dates'] = retweet_dates

In [16]:
df_temp = df_temp.set_index('natural_key')
tweets_df = tweets_df.set_index('natural_key')

In [17]:
df_final = tweets_df.join(df_temp)
df_final.to_csv('tweets_clean.csv', index = False)