# CSV cleaning

## Imports

In [170]:
import pandas as pd
import numpy as np

## Read data

In [190]:
tweets_df = pd.read_csv('french_wuhan_with_accounts.csv')
rtt_df = pd.read_csv('retweets.csv')

In [191]:
tweets_df.head()

,'id','author_id','author_username','authors','title','body','country','doc_type','language','publishing_date',...,'name','favourites_count','friends_count','language'.1,'location','extracted_country','time_zone','created_at','listed_count','project_tweet_count'
0,4cf9943a-0c79-11eb-8577-02420a00006f,18657350,None,None,None,√áa se passe possiblement en Chine (ou un quart...,None,twitter,fr,2020-10-04 16:28:42,...,V√©ronique Meunier,14942,2916,None,"Montr√©al, Canada",CA,None,2009-01-06 02:13:04,33,1
1,54b589b8-0c79-11eb-8577-02420a00006f,814383841855045633,None,None,None,@Merovingien481 @XuluQen @Mediavenir Pour se f...,None,twitter,fr,2020-10-04 15:27:36,...,Nzonzimi üåç,134222,413,None,"Belfort, France",FR,None,2016-12-29 08:13:33,0,14
2,e49281dc-0c77-11eb-8577-02420a00006f,891464784,None,None,None,Ptdrrrrrr la frappe de Chine je suis morte htt...,None,twitter,fr,2020-10-07 08:35:00,...,Dounias,879,118,None,NaN,None,None,2012-10-19 17:46:58,0,1
3,b58b95b6-0c79-11eb-8577-02420a00006f,1057778746839760896,None,None,None,@aliyya213s Que Dieu te pardonne üôè. Genre il y...,None,twitter,fr,2020-10-03 21:23:08,...,üôèüôèüôè,721,1429,None,NaN,None,None,2018-10-31 23:38:00,2,1
4,9aeb11de-0c77-11eb-8577-02420a00006f,724288676,None,None,None,¬´¬†La frappe de Chine¬†¬ª ptdrrrr ils sont ravag√©...,France,twitter,fr,2020-10-07 11:49:10,...,Ÿë,37849,99,None,NaN,FR,None,2012-07-29 16:47:43,5,1

## Data insight

### Tweets csv

In [192]:
tweets_df.columns

Index([''id'', ' 'author_id'', ' 'author_username'', ' 'authors'', ' 'title'',
       ' 'body'', ' 'country'', ' 'doc_type'', ' 'language'',
       ' 'publishing_date'', ' 'main_document_id'', ' 'coordinates'',
       ' 'place'', ' 'user_country'', ' 'retweet_count'', ' 'subject_classes'',
       ' 'natural_key'', ' 'url'', ' 'document_urls'', ' 'base_popularity'',
       ' 'popularity'', ' 'sentiment'', ''id'.1', ' 'description'',
       ' 'followers_count'', ' 'screen_name'', ' 'global_tweet_count'',
       ' 'name'', ' 'favourites_count'', ' 'friends_count'', ' 'language'.1',
       ' 'location'', ' 'extracted_country'', ' 'time_zone'', ' 'created_at'',
       ' 'listed_count'', ' 'project_tweet_count''],
      dtype='object')

In [194]:
# author_id has nothing
print(np.unique(tweets_df[" 'author_username'"]))
# authors as nothing
print(np.unique(tweets_df[" 'authors'"]))
# title as nothing
print(np.unique(tweets_df[" 'title'"]))
# doctype is all twitter
print(np.unique(tweets_df[" 'doc_type'"]))
# language is all fr
print(np.unique(tweets_df[" 'language'"]))
# main_document_id has none
print(np.unique(tweets_df[" 'main_document_id'"]))
# subject_classes has none
print(np.unique(tweets_df[" 'subject_classes'"]))
# language.1 has none
print(np.unique(tweets_df[" 'language'.1"]))
# time_zone has none
print(np.unique(tweets_df[" 'time_zone'"]))

to_remove = [
    " 'author_username'",
    " 'authors'",
    " 'title'",
    " 'doc_type'",
    " 'language'",
    " 'main_document_id'",
    " 'subject_classes'",
    " 'language'.1",
    " 'time_zone'"
]

tweets_df = tweets_df.drop(columns = to_remove)

['None']
['None']
['None']
['twitter']
['fr']
['None']
['None']
['None']
['None']

In [205]:
filtered_headers = [header.replace("'",'').replace(' ','') for header in tweets_df.columns]
d = {}
for i in range(len(tweets_df.columns)):
    d[tweets_df.columns[i]] = filtered_headers[i]
    
tweets_df = tweets_df.rename(columns = d)

In [206]:
tweets_df.head()

,id,author_id,body,country,publishing_date,coordinates,place,user_country,retweet_count,natural_key,...,screen_name,global_tweet_count,name,favourites_count,friends_count,location,extracted_country,created_at,listed_count,project_tweet_count
0,4cf9943a-0c79-11eb-8577-02420a00006f,18657350,√áa se passe possiblement en Chine (ou un quart...,None,2020-10-04 16:28:42,None,None,CA,0,1312791769503928325,...,Vero_Meunier,28314,V√©ronique Meunier,14942,2916,"Montr√©al, Canada",CA,2009-01-06 02:13:04,33,1
1,54b589b8-0c79-11eb-8577-02420a00006f,814383841855045633,@Merovingien481 @XuluQen @Mediavenir Pour se f...,None,2020-10-04 15:27:36,None,None,FR,0,1312776392053075976,...,Nzonzimi,18234,Nzonzimi üåç,134222,413,"Belfort, France",FR,2016-12-29 08:13:33,0,14
2,e49281dc-0c77-11eb-8577-02420a00006f,891464784,Ptdrrrrrr la frappe de Chine je suis morte htt...,None,2020-10-07 08:35:00,None,None,None,0,1313759719249653760,...,SassouwQb,14875,Dounias,879,118,NaN,None,2012-10-19 17:46:58,0,1
3,b58b95b6-0c79-11eb-8577-02420a00006f,1057778746839760896,@aliyya213s Que Dieu te pardonne üôè. Genre il y...,None,2020-10-03 21:23:08,None,None,None,0,1312503476610457601,...,hay_dera,21811,üôèüôèüôè,721,1429,NaN,None,2018-10-31 23:38:00,2,1
4,9aeb11de-0c77-11eb-8577-02420a00006f,724288676,¬´¬†La frappe de Chine¬†¬ª ptdrrrr ils sont ravag√©...,France,2020-10-07 11:49:10,None,Les Mureaux,FR,4,1313808582928932867,...,Sergueyui,43848,Ÿë,37849,99,NaN,FR,2012-07-29 16:47:43,5,1

### Retweet csv

In [199]:
rtt_df.head()

,'id','original_tweet_id','author_id',retweeted_date',Unnamed: 4
0,1312881822297018368,1312880858869583873,451270384,2020-10-04 22:26:33,NaN
1,1313859160769953792,1313856784210235400,724529113084637184,2020-10-07 15:10:08,NaN
2,1313910967168835587,1313856784210235400,700386863333433349,2020-10-07 18:36:00,NaN
3,1314585420810911746,1314542958335721473,191170947,2020-10-09 15:16:02,NaN
4,1312758994046509056,1312738895558258688,972925879398608900,2020-10-04 14:18:28,NaN

In [200]:
rtt_df = rtt_df.drop(columns = 'Unnamed: 4')

In [201]:
rtt_df.columns

Index([''id'', ' 'original_tweet_id'', ' 'author_id'', ' retweeted_date''], dtype='object')

In [203]:
filtered_headers = [header.replace("'",'').replace(' ','') for header in rtt_df.columns]
d3 = {}
for i in range(len(rtt_df.columns)):
    d3[rtt_df.columns[i]] = filtered_headers[i]
    
rtt_df = rtt_df.rename(columns = d3)

In [204]:
rtt_df.head()

,id,original_tweet_id,author_id,retweeted_date
0,1312881822297018368,1312880858869583873,451270384,2020-10-04 22:26:33
1,1313859160769953792,1313856784210235400,724529113084637184,2020-10-07 15:10:08
2,1313910967168835587,1313856784210235400,700386863333433349,2020-10-07 18:36:00
3,1314585420810911746,1314542958335721473,191170947,2020-10-09 15:16:02
4,1312758994046509056,1312738895558258688,972925879398608900,2020-10-04 14:18:28

### Joining tweets and retweets

In [207]:
original_tweets_id = []
author_ids = []
retweet_dates = []

groups = rtt_df.groupby("original_tweet_id").groups
for k in groups.keys():
    l_a = []
    l_r = []
    original_tweets_id.append(k)
    for index in groups[k]:
        line = df3.iloc[[index]]
        l_a.append(line["author_id"])
        l_r.append(line["retweeted_date"])
    author_ids.append(l_a)
    retweet_dates.append(l_r)

In [208]:
df_temp = pd.DataFrame()
df_temp['natural_key'] = original_tweets_id
df_temp['rtt_author_ids'] = author_ids
df_temp['retweet_dates'] = retweet_dates

In [209]:
df_temp = df_temp.set_index('natural_key')
tweets_df = tweets_df.set_index('natural_key')

In [210]:
df_final = tweets_df.join(df_temp)
df_final.to_csv('tweets_clean.csv', index = False)